<section class="home-posts">
    <div>
        <div id="card-header">
            <h2>{{data.title}}</h2>
            <p>Posted by {{data.user.username}} on {{format_date data.createdAt}}</p>
        </div>
        <p id="card-body">{{data.content}}</p>  
    </div>
    {{#each data.comments}}
    <div>
        <p>{{comments}}</p>
        <p>{{format_date createdAt}}</p>
        <p>{{user}}</p>
    </div>
    <div>
    {{/each}}
        <form id="comment-value" data-id="{{userId}}">
        <p><input type="text" id="comment"></p>
        <button type="submit" id="commentBtn">Add Your comment</button>
        </form>
    </div>

</section>

<script src="/js/comment.js"></script>