<section class="home-posts">
    <div>
        <div id="card-header">
            <h2>{{data.title}}</h2>
            <p>Posted by {{data.user.username}} on {{format_date data.createdAt}}</p>
        </div>
        <p id="card-body">{{data.content}}</p>  
    </div>
    {{#each data.comments}}
    
    <div class="comment-card">
        <h2>{{user.username}} on {{format_date createdAt}}</h2>
        <p>{{comments}}</p>
    </div>
    
    {{/each}}
    <div>
        <form id="comment-value" data-id="{{userId}}">
        <p><input type="text" id="comment" class="comment-section"></p>
        <button type="submit" id="commentBtn">Add Your
        <br> comment</button>
        </form>
    </div>

</section>

<script src="/js/comment.js"></script>