        {{#each posts}}
<div id="beside">
<button id="comment-link"><a href="/post/comment/{{id}}">Add To</a></button>
<section class="home-posts">
        <div id="card-header">
            <h2>{{title}}</h2>
            <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <p id="card-body">{{content}}</p>
</section>
</div>
        {{/each}}
